Repository kkhanhluu/kkhanhluu.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format:fix

fix: update fav icon
  gatsby-config.js
Due: none

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@4d04a15e4e0d5bd983527cb77466061f8940bced 🚀
  404.html
  404/index.html
  about/index.html
  app-be729539b9422e18035b.js
  app-be729539b9422e18035b.js.map
  app-cc10e4591a1e5b340aae.js
  app-cc10e4591a1e5b340aae.js.map
  chunk-map.json
  favicon-32x32.png
  hello-world/index.html
  icons/icon-144x144.png
  icons/icon-192x192.png
  icons/icon-256x256.png
  icons/icon-384x384.png
  icons/icon-48x48.png
  icons/icon-512x512.png
  icons/icon-72x72.png
  icons/icon-96x96.png
  index.html
  manifest.webmanifest
  my-second-post/index.html
  new-beginnings/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  rss.xml
  types-in-javascript/index.html
  webpack.stats.json
Due: yarn format:fix

fix: prevent overflow x for blog post
  src/templates/blogPost.module.scss
Due: none

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@051d9df38d091d1344d4500754e4aa6bbac47d60 🚀
  404.html
  404/index.html
  about/index.html
  hello-world/index.html
  index.html
  my-second-post/index.html
  new-beginnings/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  rss.xml
  styles.66f1d348c17fdd347c18.css
  styles.abfc63f47273952bc3f3.css
  types-in-javascript/index.html
  webpack-runtime-6939075cd87820ac3482.js
  webpack-runtime-6939075cd87820ac3482.js.map
  webpack-runtime-aa72982a45a6c82ab6eb.js
  webpack-runtime-aa72982a45a6c82ab6eb.js.map
  webpack.stats.json
Due: yarn format:fix

fix: prevent overflow x for blog post
  src/pages/index.module.scss
Due: none

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@bf49c115d7006e0c251b3696d675df0f18e28a0e 🚀
  404.html
  404/index.html
  about/index.html
  hello-world/index.html
  index.html
  my-second-post/index.html
  new-beginnings/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  rss.xml
  styles.66f1d348c17fdd347c18.css
  styles.f35d35978daba4964312.css
  types-in-javascript/index.html
  webpack-runtime-07f3862731fcd2d62498.js
  webpack-runtime-07f3862731fcd2d62498.js.map
  webpack-runtime-aa72982a45a6c82ab6eb.js
  webpack-runtime-aa72982a45a6c82ab6eb.js.map
  webpack.stats.json
Due: yarn format:fix

chore(deps): update actions/checkout action to v3
  .github/workflows/cd.yml
Due: none

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@c9766bcce37798f9f585c142ddfd12a2ab4bbe59 🚀
  page-data/about/page-data.json
  rss.xml
Due: yarn format:fix

fix: add ignore build step for vercel
  ignore-build-vercel.sh
  yarn.lock
Due: none

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@824c4f4599081694618bd9038d228678cabcf633 🚀
  page-data/about/page-data.json
  rss.xml
Due: yarn format:fix

feat: add post loose equality vs strict equality
  content/blog/hello-world/index.md
  content/blog/hello-world/salty_egg.jpg
  content/blog/loose-equality-vs-strict-equality/index.md
  content/blog/my-second-post/index.md
  content/blog/new-beginnings/index.md
  content/blog/types-in-javascript/index.md
  src/images/gatsby-icon.png
Due: yarn format:fix

fix: minor style
  src/components/Bio/bio.module.scss
Due: none

feat: add pawtner folder
  content/blog/how-mobile-app-is-built/authentication.png
Due: none

feat: add pawtner post
  content/blog/how-mobile-app-is-built/index.md
  content/blog/how-mobile-app-is-built/introduction.jpeg
  content/blog/how-mobile-app-is-built/mongodb-charts.png
  content/blog/how-mobile-app-is-built/payment-flow.png
  src/templates/BlogPost.tsx
Due: yarn lint, yarn format:fix

feat: add blurred transition
  src/components/Bio/index.tsx
  src/pages/404.tsx
Due: yarn lint, yarn format:fix

fix: adjust time to read for pawtner post
  content/blog/how-mobile-app-is-built/index.md
Due: yarn format:fix

fix(deps): update dependencies (non-major)
  package.json
  yarn.lock
Due: yarn format:fix

fix: update icons
  gatsby-config.js
  src/assets/HackCovyCertificate.pdf
  src/assets/resume.pdf
  src/components/Header/index.tsx
  src/components/Icons/Medium.tsx
  src/components/Icons/index.tsx
  src/components/Menu/index.tsx
  src/components/SideEmail/index.tsx
  src/components/SideIcon/index.tsx
  src/images/icons8-medium.svg
Due: yarn lint, yarn format:fix

fix: add certificates
  gatsby-config.js
  static/hackathon.pdf
Due: none

fix: fix some typos
  content/blog/loose-equality-vs-strict-equality/index.md
  src/components/Bio/index.tsx
Due: yarn lint, yarn format:fix

fix: fix some typos
  content/blog/loose-equality-vs-strict-equality/index.md
Due: yarn format:fix

feat: add msw
  content/blog/how-mobile-app-is-built/index.md
Due: yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@d47667189aa7c1fe193b6019b8e99d50ef85d04e 🚀
  404.html
  404/index.html
  about/index.html
  chunk-map.json
  component---src-pages-index-tsx-a7a5b6b158cbafb63db4.js
  component---src-pages-index-tsx-a7a5b6b158cbafb63db4.js.map
  component---src-pages-index-tsx-c9fc0f1476900097346f.js
  component---src-pages-index-tsx-c9fc0f1476900097346f.js.map
  component---src-templates-blog-post-tsx-51165413311094b25614.js
  component---src-templates-blog-post-tsx-51165413311094b25614.js.map
  component---src-templates-blog-post-tsx-feb4aa6c54e13acee11a.js
  component---src-templates-blog-post-tsx-feb4aa6c54e13acee11a.js.map
  hello-world/index.html
  index.html
  loose-equality-vs-strict-equality/index.html
  my-second-post/index.html
  new-beginnings/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  page-data/hello-world/page-data.json
  page-data/index/page-data.json
  page-data/loose-equality-vs-strict-equality/page-data.json
  page-data/my-second-post/page-data.json
  page-data/new-beginnings/page-data.json
  page-data/types-in-javascript/page-data.json
  rss.xml
  static/1aee3cd68d8c25f024375c44f86994c3/0ede0/salty_egg.jpg
  static/1aee3cd68d8c25f024375c44f86994c3/3ac88/salty_egg.jpg
  static/1aee3cd68d8c25f024375c44f86994c3/828fb/salty_egg.jpg
  static/1aee3cd68d8c25f024375c44f86994c3/a6688/salty_egg.jpg
  static/1aee3cd68d8c25f024375c44f86994c3/e1596/salty_egg.jpg
  static/1aee3cd68d8c25f024375c44f86994c3/ff44c/salty_egg.jpg
  styles.45dbffdc2c7c80898f25.css
  styles.f35d35978daba4964312.css
  types-in-javascript/index.html
  webpack-runtime-07f3862731fcd2d62498.js
  webpack-runtime-07f3862731fcd2d62498.js.map
  webpack-runtime-8e7f4862f22113d01910.js
  webpack-runtime-8e7f4862f22113d01910.js.map
  webpack.stats.json
Due: yarn format:fix

[ImgBot] Optimize images
  content/blog/how-mobile-app-is-built/authentication.png
  content/blog/how-mobile-app-is-built/mongodb-charts.png
  content/blog/how-mobile-app-is-built/payment-flow.png
  src/images/404.png
  src/images/icons8-medium.svg
Due: none

Path conditions:
  yarn lint: any of: *.{ts,tsx}
  yarn format:fix: (any of: *.{ts,tsx}) or (any of: *.{json,md})
