Repository kkhanhluu/kkhanhluu.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format:fix

.lintstagedrc.yml:

'*.{ts,tsx}':
  - yarn lint
  - yarn format:fix
'*.{json,md}':
  - yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@8e4a92b1e2a61af259066ade4e086727d730e061 🚀
  page-data/about/page-data.json
  rss.xml
Due: yarn format:fix

fix: update works
  gatsby-config.js
  src/assets/resume.pdf
Due: none

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@8627eaf86518ce07bd1b85719a128aaaba17aeb7 🚀
  404.html
  404/index.html
  about/index.html
  commons-8cb227e8fbb3212a8ce4.js
  commons-8cb227e8fbb3212a8ce4.js.map
  commons-e9af982942ea2116d542.js
  commons-e9af982942ea2116d542.js.map
  how-mobile-app-is-built/index.html
  index.html
  loose-equality-vs-strict-equality/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  page-data/sq/d/2143495332.json
  rss.xml
  static/resume-14a0cc4839b8f920bef3a4dae6d8d3f5.pdf
  static/resume-e10997b07aad6e3e37a824537eed890e.pdf
  types-in-javascript/index.html
  webpack-runtime-6368301b9012ddcf3989.js
  webpack-runtime-6368301b9012ddcf3989.js.map
  webpack-runtime-d5c7b5ba5b93e5244705.js
  webpack-runtime-d5c7b5ba5b93e5244705.js.map
  webpack.stats.json
Due: yarn format:fix

fix: update resume
  src/assets/resume.pdf
Due: none

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@38aefe9555de4dc0b5e203039febc85e9261c3b8 🚀
  404.html
  404/index.html
  about/index.html
  commons-6c02fc2bb2c33eb2a0b6.js
  commons-6c02fc2bb2c33eb2a0b6.js.map
  commons-e9af982942ea2116d542.js
  commons-e9af982942ea2116d542.js.map
  how-mobile-app-is-built/index.html
  index.html
  loose-equality-vs-strict-equality/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  rss.xml
  static/resume-a10cb2eff3ac19155f402f15d38669e4.pdf
  static/resume-e10997b07aad6e3e37a824537eed890e.pdf
  types-in-javascript/index.html
  webpack-runtime-d5c7b5ba5b93e5244705.js
  webpack-runtime-d5c7b5ba5b93e5244705.js.map
  webpack-runtime-ff13664044d4bb923cea.js
  webpack-runtime-ff13664044d4bb923cea.js.map
  webpack.stats.json
Due: yarn format:fix

fix: update works
  gatsby-config.js
Due: none

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@712936befcea6ceadacee00c114243cd2621d16f 🚀
  about/index.html
  page-data/about/page-data.json
  page-data/sq/d/2143495332.json
  rss.xml
Due: yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@56b28a990d60bcfa69d9a609e32cd17b4dbc05b8 🚀
  404.html
  404/index.html
  about/index.html
  chunk-map.json
  component---src-pages-about-tsx-324d8a6f0ef4f741fae5.js
  component---src-pages-about-tsx-324d8a6f0ef4f741fae5.js.map
  component---src-pages-about-tsx-96dfff7f418346461348.js
  component---src-pages-about-tsx-96dfff7f418346461348.js.map
  how-mobile-app-is-built/index.html
  index.html
  loose-equality-vs-strict-equality/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  page-data/sq/d/377360902.json
  rss.xml
  static/454280323f304d922b788b2cd5484dda/133ab/e-shop.webp
  static/454280323f304d922b788b2cd5484dda/1d6cf/e-shop.png
  static/454280323f304d922b788b2cd5484dda/2b45e/e-shop.png
  static/454280323f304d922b788b2cd5484dda/5c006/e-shop.png
  static/454280323f304d922b788b2cd5484dda/84f83/e-shop.webp
  static/454280323f304d922b788b2cd5484dda/c5b7c/e-shop.webp
  static/fa893e4580c4a5b2fbacb0a90365c447/379bb/movieapp.png
  static/fa893e4580c4a5b2fbacb0a90365c447/3b606/movieapp.webp
  static/fa893e4580c4a5b2fbacb0a90365c447/4b463/movieapp.webp
  static/fa893e4580c4a5b2fbacb0a90365c447/a2b67/movieapp.png
  static/fa893e4580c4a5b2fbacb0a90365c447/e3103/movieapp.webp
  static/fa893e4580c4a5b2fbacb0a90365c447/eb413/movieapp.png
  types-in-javascript/index.html
  webpack-runtime-e5b91f604a0946000db9.js
  webpack-runtime-e5b91f604a0946000db9.js.map
  webpack-runtime-ff13664044d4bb923cea.js
  webpack-runtime-ff13664044d4bb923cea.js.map
  webpack.stats.json
Due: yarn format:fix

fix: fix theme switch error
  src/components/Header/index.tsx
Due: yarn lint, yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@dd27de5247ad9af524e3dc55c1c874811f69c294 🚀
  404.html
  404/index.html
  about/index.html
  commons-6c02fc2bb2c33eb2a0b6.js.map
  how-mobile-app-is-built/index.html
  index.html
  loose-equality-vs-strict-equality/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  rss.xml
  types-in-javascript/index.html
  webpack-runtime-5d26779fd65f6f2b2957.js
  webpack-runtime-5d26779fd65f6f2b2957.js.map
  webpack-runtime-e5b91f604a0946000db9.js
  webpack-runtime-e5b91f604a0946000db9.js.map
  webpack.stats.json
Due: yarn format:fix

chore: update resume
  gatsby-config.js
  src/assets/resume.pdf
Due: none

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@dd769a661ccd6629bb0e9eccfaf87da64c4d3abc 🚀
  404.html
  404/index.html
  about/index.html
  commons-6c02fc2bb2c33eb2a0b6.js
  commons-6c02fc2bb2c33eb2a0b6.js.map
  commons-92a801f6db7edd440592.js
  commons-92a801f6db7edd440592.js.map
  how-mobile-app-is-built/index.html
  index.html
  loose-equality-vs-strict-equality/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  page-data/sq/d/2143495332.json
  rss.xml
  static/resume-14b9a379779f32943d5f1ec1c91ef6b5.pdf
  static/resume-a10cb2eff3ac19155f402f15d38669e4.pdf
  types-in-javascript/index.html
  webpack-runtime-5d26779fd65f6f2b2957.js
  webpack-runtime-5d26779fd65f6f2b2957.js.map
  webpack-runtime-9f5331fba4fe8fd77041.js
  webpack-runtime-9f5331fba4fe8fd77041.js.map
  webpack.stats.json
Due: yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@b23bf38434f50ed8cc5b5dad346f77aab8b6c0c6 🚀
  217-5f06534ea5d79a1c9c94.js
  217-5f06534ea5d79a1c9c94.js.LICENSE.txt
  217-5f06534ea5d79a1c9c94.js.map
  217-cf96611bcb9cb2a022df.js
  217-cf96611bcb9cb2a022df.js.map
  404.html
  404/index.html
  about/index.html
  app-0d89195aaf08372fd61b.js
  app-0d89195aaf08372fd61b.js.map
  app-916290299cf8f605b3a1.js
  app-916290299cf8f605b3a1.js.map
  chunk-map.json
  commons-773cc1c70e2ec50edd8d.js
  commons-773cc1c70e2ec50edd8d.js.map
  commons-92a801f6db7edd440592.js
  commons-92a801f6db7edd440592.js.map
  framework-4ef3da8d935c25bca1ba.js
  framework-4ef3da8d935c25bca1ba.js.LICENSE.txt
  framework-4ef3da8d935c25bca1ba.js.map
  framework-ac33cf73a5d840e8c7a1.js
  framework-ac33cf73a5d840e8c7a1.js.map
  how-mobile-app-is-built/index.html
  index.html
  loose-equality-vs-strict-equality/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  rss.xml
  types-in-javascript/index.html
  webpack-runtime-9f5331fba4fe8fd77041.js
  webpack-runtime-9f5331fba4fe8fd77041.js.map
  webpack-runtime-c2cec0647685bab3da85.js
  webpack-runtime-c2cec0647685bab3da85.js.map
  webpack.stats.json
Due: yarn format:fix

feat: add cloud native blog post
  content/blog/what-is-cloud-native/characteristics.png
  content/blog/what-is-cloud-native/index.md
Due: yarn format:fix

feat: add event sourcing vs event driven blog post
  content/blog/event-sourcing-vs-event-driven-architecture/event-sourcing-example.png
  content/blog/event-sourcing-vs-event-driven-architecture/index.md
  content/blog/event-sourcing-vs-event-driven-architecture/request-response-event-driven.png
  content/blog/what-is-cloud-native/index.md
Due: yarn format:fix

fix: add summary
  content/blog/event-sourcing-vs-event-driven-architecture/index.md
  content/blog/what-is-cloud-native/index.md
Due: yarn format:fix

fix: fix css
  src/components/Bio/bio.module.scss
Due: none

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@017e06756c30d207824616a13deac6cf6bf777a6 🚀
  404.html
  404/index.html
  about/index.html
  event-sourcing-vs-event-driven-architecture/index.html
  how-mobile-app-is-built/index.html
  index.html
  loose-equality-vs-strict-equality/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  page-data/event-sourcing-vs-event-driven-architecture/page-data.json
  page-data/index/page-data.json
  page-data/loose-equality-vs-strict-equality/page-data.json
  page-data/what-is-cloud-native/page-data.json
  rss.xml
  static/51e9eecaf508169117e4d068d036ad18/13a9a/request-response-event-driven.png
  static/51e9eecaf508169117e4d068d036ad18/6bdcf/request-response-event-driven.png
  static/51e9eecaf508169117e4d068d036ad18/c26ae/request-response-event-driven.png
  static/51e9eecaf508169117e4d068d036ad18/f058b/request-response-event-driven.png
  static/78c160bf36798390bf26702cba5eca3f/34e70/characteristics.png
  static/78c160bf36798390bf26702cba5eca3f/40601/characteristics.png
  static/78c160bf36798390bf26702cba5eca3f/6bdcf/characteristics.png
  static/78c160bf36798390bf26702cba5eca3f/c26ae/characteristics.png
  static/78c160bf36798390bf26702cba5eca3f/f058b/characteristics.png
  static/bc445042a245919f3063d5395ab1181a/3a737/event-sourcing-example.png
  static/bc445042a245919f3063d5395ab1181a/6bdcf/event-sourcing-example.png
  static/bc445042a245919f3063d5395ab1181a/c26ae/event-sourcing-example.png
  static/bc445042a245919f3063d5395ab1181a/f058b/event-sourcing-example.png
  styles.6a04b6aeeeea029deb5c.css
  styles.e6a63993e80055812065.css
  types-in-javascript/index.html
  webpack-runtime-00ca51562473cd2ff854.js
  webpack-runtime-00ca51562473cd2ff854.js.map
  webpack-runtime-c2cec0647685bab3da85.js
  webpack-runtime-c2cec0647685bab3da85.js.map
  webpack.stats.json
  what-is-cloud-native/index.html
Due: yarn format:fix

feature: add cqrs post
  content/blog/cqrs/index.md
  content/blog/event-sourcing-vs-event-driven-architecture/index.md
  content/blog/what-is-cloud-native/index.md
Due: yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@94b85884d01090016020e76a0ea7d5db6c06f918 🚀
  cqrs/index.html
  event-sourcing-vs-event-driven-architecture/index.html
  index.html
  page-data/about/page-data.json
  page-data/cqrs/page-data.json
  page-data/event-sourcing-vs-event-driven-architecture/page-data.json
  page-data/index/page-data.json
  page-data/what-is-cloud-native/page-data.json
  rss.xml
  what-is-cloud-native/index.html
Due: yarn format:fix

feature: add saga blog post
  content/blog/saga/choreography.png
  content/blog/saga/index.md
  content/blog/saga/orchestration-based_saga.png
  content/blog/saga/saga.png
Due: yarn format:fix

feature: add transactional outbox post
  content/blog/transactional-outbox/index.md
  content/blog/transactional-outbox/outbox_pattern.png
Due: yarn format:fix

fix: fix date
  content/blog/saga/index.md
  content/blog/transactional-outbox/index.md
Due: yarn format:fix

fix: format posts
  content/blog/saga/index.md
  content/blog/transactional-outbox/index.md
Due: yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@5ed41d9495fa3192e53c20e3722a2059bf185e7c 🚀
  cqrs/index.html
  index.html
  page-data/about/page-data.json
  page-data/cqrs/page-data.json
  page-data/index/page-data.json
  page-data/saga/page-data.json
  page-data/transactional-outbox/page-data.json
  rss.xml
  saga/index.html
  static/1ecaa3c13396d5e7ad845b5b0f1e03a6/6bdcf/choreography.png
  static/1ecaa3c13396d5e7ad845b5b0f1e03a6/c26ae/choreography.png
  static/1ecaa3c13396d5e7ad845b5b0f1e03a6/f058b/choreography.png
  static/1ecaa3c13396d5e7ad845b5b0f1e03a6/f6386/choreography.png
  static/4eed03e11d95bd712d7f1dd35f7a73ec/40601/orchestration-based_saga.png
  static/4eed03e11d95bd712d7f1dd35f7a73ec/47aef/orchestration-based_saga.png
  static/4eed03e11d95bd712d7f1dd35f7a73ec/6bdcf/orchestration-based_saga.png
  static/4eed03e11d95bd712d7f1dd35f7a73ec/c26ae/orchestration-based_saga.png
  static/4eed03e11d95bd712d7f1dd35f7a73ec/f058b/orchestration-based_saga.png
  static/526ff165e67ff72a04679672cc608c8d/0c156/outbox_pattern.png
  static/526ff165e67ff72a04679672cc608c8d/40601/outbox_pattern.png
  static/526ff165e67ff72a04679672cc608c8d/6bdcf/outbox_pattern.png
  static/526ff165e67ff72a04679672cc608c8d/78612/outbox_pattern.png
  static/526ff165e67ff72a04679672cc608c8d/c26ae/outbox_pattern.png
  static/526ff165e67ff72a04679672cc608c8d/f058b/outbox_pattern.png
  static/9add247b74d4401232d018ddf66d665f/40601/saga.png
  static/9add247b74d4401232d018ddf66d665f/45cee/saga.png
  static/9add247b74d4401232d018ddf66d665f/6bdcf/saga.png
  static/9add247b74d4401232d018ddf66d665f/78612/saga.png
  static/9add247b74d4401232d018ddf66d665f/c26ae/saga.png
  static/9add247b74d4401232d018ddf66d665f/f058b/saga.png
  transactional-outbox/index.html
Due: yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@8b173598c85ac9eee7a122dab566a69b874fc359 🚀
  page-data/about/page-data.json
  rss.xml
Due: yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@d396a9079dafeb5a9d352dc55044bf5f4e9a0110 🚀
  217-5f06534ea5d79a1c9c94.js.map
  404.html
  404/index.html
  about/index.html
  commons-773cc1c70e2ec50edd8d.js.map
  component---src-pages-404-tsx-08e5b965e0fa14eb7299.js.map
  component---src-pages-about-tsx-43975e6a62da4f4bb139.js.map
  component---src-pages-index-tsx-55d1c9cfbfe9887031d7.js.map
  component---src-templates-blog-post-tsx-db7ecc7582aafb8b702d.js.map
  cqrs/index.html
  event-sourcing-vs-event-driven-architecture/index.html
  how-mobile-app-is-built/index.html
  index.html
  loose-equality-vs-strict-equality/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  rss.xml
  saga/index.html
  styles.c9e959fc5af8bbbf5a7b.css
  styles.e6a63993e80055812065.css
  transactional-outbox/index.html
  types-in-javascript/index.html
  webpack-runtime-716a57d36b0643678b82.js
  webpack-runtime-716a57d36b0643678b82.js.map
  webpack-runtime-db13844558eaf9ecfba7.js
  webpack-runtime-db13844558eaf9ecfba7.js.map
  webpack.stats.json
  what-is-cloud-native/index.html
Due: yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@161e73842532dbab6892a692482e0d6d7d2ccced 🚀
  page-data/about/page-data.json
  rss.xml
Due: yarn format:fix
