Repository kkhanhluu/kkhanhluu.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format:fix

feat: add cd pipeline
  .github/workflows/ci.yml
  src/pages/404.tsx
Due: yarn lint, yarn format:fix

fix(deps): pin dependencies
  package.json
  yarn.lock
Due: yarn format:fix

fix(deps): update dependencies (non-major)
  .nvmrc
  package.json
  yarn.lock
Due: yarn format:fix

fix: fix cd pipeline
  .github/renovate.json
  .github/workflows/cd.yml
Due: yarn format:fix

fix: fix cd pipeline
  .github/workflows/cd.yml
Due: none

fix: update bio component
  content/blog/hello-world/index.md
  content/blog/my-second-post/index.md
  content/blog/new-beginnings/index.md
  gatsby-config.js
  gatsby-node.js
  src/components/Article/article.module.scss
  src/components/Article/index.tsx
  src/components/Bio/bio.module.scss
  src/pages/index.module.scss
  src/pages/index.tsx
  src/style.css
  src/templates/BlogPost.tsx
  src/templates/blogPost.module.scss
Due: yarn lint, yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@563a74bc244e40219dc047551af84ee23b64337d 🚀
  content/blog/hello-world/index.md
  content/blog/my-second-post/index.md
  content/blog/new-beginnings/index.md
  gatsby-config.js
  gatsby-node.js
  src/components/Article/article.module.scss
  src/components/Article/index.tsx
  src/components/Bio/bio.module.scss
  src/pages/index.module.scss
  src/pages/index.tsx
  src/style.css
  src/templates/BlogPost.tsx
  src/templates/blogPost.module.scss
Due: yarn lint, yarn format:fix

fix: add 404 page
  src/components/Layout.tsx
  src/components/about-components/Intro/index.tsx
  src/images/404.png
  src/pages/404.module.scss
  src/pages/404.tsx
Due: yarn lint, yarn format:fix

fix: small style fix
  src/pages/404.module.scss
Due: none

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@f4aa1a46a54e9bd53d49bd8b9e7cfcb11a9a911c 🚀
  src/pages/404.module.scss
Due: none

fix: small style fix
  src/components/Footer/footer.module.scss
  src/components/Icons/Facebook.tsx
  src/components/Icons/Github.tsx
  src/components/Icons/Linkedin.tsx
Due: yarn lint, yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@e9a84788c14dc4453c6c4b61531d18dc796d2480 🚀
  src/components/Footer/footer.module.scss
  src/components/Icons/Facebook.tsx
  src/components/Icons/Github.tsx
  src/components/Icons/Linkedin.tsx
Due: yarn lint, yarn format:fix

fix: update build command
  .github/workflows/cd.yml
Due: none

chore(deps): update dependencies (non-major)
  .github/workflows/cd.yml
  package.json
  yarn.lock
Due: yarn format:fix

chore(deps): update actions/setup-node action to v3
  .github/workflows/cd.yml
Due: none

fix: add google analytics
  gatsby-config.js
Due: none

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@424911b5a47848534b3cb4ad55cdaede557d015b 🚀
  404.html
  404/index.html
  589-42fac78b50a59cfc5457.js
  589-42fac78b50a59cfc5457.js.map
  about/index.html
  app-47913117edca669a0600.js
  app-47913117edca669a0600.js.map
  app-aa694126b11cc94d42e1.js
  app-aa694126b11cc94d42e1.js.map
  chunk-map.json
  hello-world/index.html
  index.html
  my-second-post/index.html
  new-beginnings/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  rss.xml
  webpack-runtime-43dc2f8835f54df31293.js
  webpack-runtime-43dc2f8835f54df31293.js.map
  webpack-runtime-bf50b3b78818b0859853.js
  webpack-runtime-bf50b3b78818b0859853.js.map
  webpack.stats.json
Due: yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@821c9c6df9556c45d4fddac41f0ceaa3d959550b 🚀
  404.html
  404/index.html
  about/index.html
  app-aa694126b11cc94d42e1.js
  app-aa694126b11cc94d42e1.js.map
  app-eff4570bd58f8ee935ca.js
  app-eff4570bd58f8ee935ca.js.map
  chunk-map.json
  hello-world/index.html
  index.html
  my-second-post/index.html
  new-beginnings/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  rss.xml
  webpack.stats.json
Due: yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@facdc15486babaeb6e7f6baf8e62114ddc6a0a63 🚀
  404.html
  404/index.html
  about/index.html
  app-cc10e4591a1e5b340aae.js
  app-cc10e4591a1e5b340aae.js.map
  app-eff4570bd58f8ee935ca.js
  app-eff4570bd58f8ee935ca.js.map
  chunk-map.json
  hello-world/index.html
  index.html
  my-second-post/index.html
  new-beginnings/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  rss.xml
  webpack.stats.json
Due: yarn format:fix

feat: add signup form
  package.json
  src/components/Layout.tsx
  src/components/SignUpForm/index.tsx
  src/components/SignUpForm/signUpForm.css
  src/global.d.ts
  yarn.lock
Due: yarn lint, yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@1ad8fe87621b10fb92d533d17f0270a072e37a19 🚀
  404.html
  404/index.html
  about/index.html
  chunk-map.json
  commons-a7b80577d50c82328448.js
  commons-a7b80577d50c82328448.js.map
  commons-ed404fb60d9a1ce1a8f0.js
  commons-ed404fb60d9a1ce1a8f0.js.map
  component---src-pages-404-tsx-64fe9f031121511a0390.js
  component---src-pages-404-tsx-64fe9f031121511a0390.js.map
  component---src-pages-404-tsx-f6a4e4466494fb773718.js
  component---src-pages-404-tsx-f6a4e4466494fb773718.js.map
  component---src-pages-about-tsx-21f95a6d122ce65722a3.js
  component---src-pages-about-tsx-21f95a6d122ce65722a3.js.map
  component---src-pages-about-tsx-49849cf5bb0be823a7c8.js
  component---src-pages-about-tsx-49849cf5bb0be823a7c8.js.map
  component---src-pages-index-tsx-0a5141b49881617646f1.js
  component---src-pages-index-tsx-0a5141b49881617646f1.js.map
  component---src-pages-index-tsx-742c61ad0fda2ee0ffa9.js
  component---src-pages-index-tsx-742c61ad0fda2ee0ffa9.js.map
  component---src-templates-blog-post-tsx-39a5d7faa8cab2a9051d.js
  component---src-templates-blog-post-tsx-39a5d7faa8cab2a9051d.js.map
  component---src-templates-blog-post-tsx-d3a4375e54b967dce36b.js
  component---src-templates-blog-post-tsx-d3a4375e54b967dce36b.js.map
  hello-world/index.html
  index.html
  my-second-post/index.html
  new-beginnings/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  rss.xml
  styles.0e2d0939cb054d563964.css
  styles.539eca7ae94b77e913c6.css
  webpack-runtime-43dc2f8835f54df31293.js
  webpack-runtime-43dc2f8835f54df31293.js.map
  webpack-runtime-e249a8558167aafcdf66.js
  webpack-runtime-e249a8558167aafcdf66.js.map
  webpack.stats.json
Due: yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@ef41ac78c4f761cf13a09b5429492d04388dc95a 🚀
  page-data/about/page-data.json
  rss.xml
Due: yarn format:fix

feat: add type article
  content/blog/first-pillar-type/index.md
  package.json
  yarn.lock
Due: yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@ce24cdb0f7e0ca67e88c4ec53b8909e298518531 🚀
  first-pillar-type/index.html
  index.html
  new-beginnings/index.html
  page-data/about/page-data.json
  page-data/first-pillar-type/page-data.json
  page-data/index/page-data.json
  page-data/new-beginnings/page-data.json
  rss.xml
Due: yarn format:fix

fix: update content and style for type post
  content/blog/first-pillar-type/index.md
  content/blog/types-in-javascript/index.md
  src/components/SignUpForm/signUpForm.css
  src/pages/index.module.scss
  src/style.css
  src/templates/blogPost.module.scss
Due: yarn format:fix

Deploying to gh-pages from @ kkhanhluu/kkhanhluu.github.io@9f5d6665f3d0690d592e3dcfbf1e18dcc0946f43 🚀
  404.html
  404/index.html
  about/index.html
  first-pillar-type/index.html
  hello-world/index.html
  index.html
  my-second-post/index.html
  new-beginnings/index.html
  page-data/about/page-data.json
  page-data/app-data.json
  page-data/first-pillar-type/page-data.json
  page-data/index/page-data.json
  page-data/new-beginnings/page-data.json
  page-data/types-in-javascript/page-data.json
  rss.xml
  styles.0e2d0939cb054d563964.css
  styles.5572c21f5ec82a4463db.css
  types-in-javascript/index.html
  webpack-runtime-0076cbfda2ad69fe1d47.js
  webpack-runtime-0076cbfda2ad69fe1d47.js.map
  webpack-runtime-e249a8558167aafcdf66.js
  webpack-runtime-e249a8558167aafcdf66.js.map
  webpack.stats.json
Due: yarn format:fix

fix: make image in blog post responsive
  content/blog/types-in-javascript/index.md
  content/blog/types-in-javascript/meme.png
  gatsby-config.js
  package.json
  src/pages/index.module.scss
  src/style.css
  src/templates/blogPost.module.scss
  yarn.lock
Due: yarn format:fix

fix: make nav responsive
  src/components/Header/header.module.scss
  src/components/Header/index.tsx
  src/components/Menu/index.tsx
  src/components/Menu/menu.module.scss
  src/style.css
Due: yarn lint, yarn format:fix

fix: make about inro and jobs responsive
  src/components/about-components/About/about.module.scss
  src/components/about-components/Intro/intro.module.scss
  src/components/about-components/Jobs/index.tsx
  src/components/about-components/Jobs/jobs.module.scss
  src/components/about-components/Projects/projects.module.scss
  src/style.css
Due: yarn lint, yarn format:fix

Path conditions:
  yarn lint: any of: *.{ts,tsx}
  yarn format:fix: (any of: *.{ts,tsx}) or (any of: *.{json,md})
